@import "../base/settings";

.button {
  background-color: $green;
  border-radius: $s-border;
  color: $white;
  font-size: $s-text;
  height: $primary-button-height;
  min-width: $primary-button-width;

  &:disabled {
    opacity: 0.6;
  }
}

.button--inline {
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: auto;
  height: auto;
}
