@import "../base/settings";

.button {
  padding: $xs-spacing $s-spacing;
  font-size: $m-text;
  font-weight: bold;
  border-radius: $s-border;

  &:disabled {
    border-color: grey;
  }
}

.button--inline {
  padding: 0;
  background-color: transparent;
  border: none;
}
