@import "../base/settings";

.button {
  background-color: $green;
  border-radius: $s-border;
  color: $white;
  font-size: $s-text;
  padding: $xs-spacing $m-spacing;

  &:disabled {
    opacity: 0.6;
  }
}

.button--inline {
  background-color: transparent;
  border: none;
  padding: 0;
}
