@import "../base/settings";

.form {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: $s-spacing;
}

.form__input {
  background: blue;
  border: 10px outset green;
  color: white;
  padding: $xs-spacing $s-spacing;
}

.form__input-value {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
}

.form__input--disabled {
  opacity: 0.5;
}

.form__input--error {
  border-color: red;
}

.form__error {
  color: red;
}

.form__actions {
  display: flex;
  justify-content: space-between;
}

.form__submit {
  margin-left: auto;
}
