@import "../base/settings";

.form {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
}

.form__label {
  width: 30%;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    align-items: center;
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  padding: $xs-spacing 0;
  width: 100%;
}

.form__input-value {
  background: $white;
  border: 1px solid darken($gray-light, 10%);
  color: $gray-charcoal;
  padding: $xs-spacing $s-spacing;
}

.form__input--disabled {
  opacity: 0.5;
}

.form__input--error {
  border: 1px solid $red;
}

.form__input--success {
  border: 1px solid $green;
}

.form__info {
  padding: $xs-spacing;
}

.form__info--success {
  color: $green;
}

.form__info--error {
  color: $red;
}

.form__actions {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $small-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__submit {
  margin-left: 0;
  margin: $s-spacing 0;

  @media (min-width: $small-breakpoint) {
    margin-left: auto;
    margin-top: 0;
  }
}
