@import "../base/settings";

.header {
  background-color: $gray-charcoal;
}

.form__input-value--header {
  font-size: $l-text;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

.form__info--header {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
}
