@import "../base/settings";

.header {
  background-color: $gray-charcoal;
}

.form__input-value--header {
  font-size: $l-text;
}

.form__info--header {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
}
