@import "../base/settings";

.split-pane {
  display: flex;
  background-color: yellow;
  justify-content: space-around;
}

.split-pane__left {
  background-color: green;
  width: $max-width / 2;
  margin-right: $s-spacing;
}

.split-pane__right {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: block;
    width: $max-width / 2;
  }
}
