@import "./settings";

body {
  background-color: $gray-light;
  color: $gray-charcoal;
  font-family: sans-serif;
  font-size: $s-text;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: $s-spacing;
}

.small-only {
  display: block;
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.big-only {
  display: block;
  @media (max-width: $desktop-breakpoint) {
    display: none;
  }
}
