//Colors
$gray-light: rgb(242, 242, 242);
$gray: rgb(136, 136, 136);
$gray-charcoal: rgb(52, 52, 52);
$green: rgb(78, 173, 74);
$white: white;
$red: red;

//Border
$s-border: 4px;

//Spacings
$xxs-spacing: 4px;
$xs-spacing: 8px;
$s-spacing: 16px;
$m-spacing: 24px;
$l-spacing: 32px;
$xl-spacing: 40px;
$xxl-spacing: 48px;

//Font sizes
$xxs-text: 12px;
$xs-text: 14px;
$s-text: 16px;
$m-text: 18px;
$l-text: 24px;
$xl-text: 32px;
$xxl-text: 48px;

//Button sizes
$primary-button-width: 200px;
$primary-button-height: 48px;

//container sizes
$main-container-height: 500px;

//Breakpoints
$desktop-breakpoint: 960px;
$max-width: 1200px;
